<style type="text/css">
  @import url(htmlarea.css);
  body { font: 14px verdana,sans-serif; background: #fff; color: #000; }
  h1, h2 { font-family:tahoma,sans-serif; }
  h1 { border-bottom: 2px solid #000; }
  h2 { border-bottom: 1px solid #aaa; }
  h3, h4 { margin-bottom: 0px; font-family: Georgia,serif; font-style: italic; }
  h4 { font-size: 90%; margin-left: 1em; }
  acronym { border-bottom: 1px dotted #063; color: #063; }
  p { margin-left: 2em; margin-top: 0.3em; }
  li p { margin-left: 0px; }
  .abstract { padding: 5px; margin: 0px 10em; font-size: 90%; border: 1px dashed #aaa; background: #eee;}
  li { margin-left: 2em; }
  em { color: #042; }
  a { color: #00f; }
  a:hover { color: #f00; }
  a:active { color: #f80; }
  span.browser { font-weight: bold; color: #864; }
  .fixme { font-size: 20px; font-weight: bold; color: red; background: #fab;
padding: 5px; text-align: center; }
  .code {
   background: #e4efff; padding: 5px; border: 1px dashed #abc; margin-left: 2em; margin-right: 2em;
   font-family: fixed,"lucidux mono","andale mono","courier new",monospace;
  }
  .note, .warning { font-weight: bold; color: #0a0; font-variant: small-caps; }
  .warning { color: #a00; }

.string {
  color: #06c;
} /* font-lock-string-face */
.comment {
  color: #840;
} /* font-lock-comment-face */
.variable-name {
  color: #000;
} /* font-lock-variable-name-face */
.type {
  color: #008;
  font-weight: bold;
} /* font-lock-type-face */
.reference {
  color: #048;
} /* font-lock-reference-face */
.preprocessor {
  color: #808;
} /* font-lock-preprocessor-face */
.keyword {
  color: #00f;
  font-weight: bold;
} /* font-lock-keyword-face */
.function-name {
  color: #044;
} /* font-lock-function-name-face */
.html-tag {
  font-weight: bold;
} /* html-tag-face */
.html-helper-italic {
  font-style: italic;
} /* html-helper-italic-face */
.html-helper-bold {
  font-weight: bold;
} /* html-helper-bold-face */

</style>

<script type="text/javascript">
  _editor_url = './';
  _editor_lang = 'en';
</script>
<script type="text/javascript" src="htmlarea.js"></script>
<script type="text/javascript" src="dialog.js"></script>
<script tyle="text/javascript" src="lang/en.js"></script>