<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
 
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ComputeServlet</servlet-name>
    <servlet-class>servlet.ComputeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaveSelectedInfoServlet</servlet-name>
    <servlet-class>servlet.SaveSelectedInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowStudentServlet</servlet-name>
    <servlet-class>servlet.ShowStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindFinalScoreServlet</servlet-name>
    <servlet-class>servlet.FindFinalScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindAllCourseServlet</servlet-name>
    <servlet-class>servlet.FindAllCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindOneCourseServlet</servlet-name>
    <servlet-class>servlet.FindOneCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <servlet-class>servlet.DeleteCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <servlet-class>servlet.UpdateCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>servlet.AddCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindAllNewsServlet</servlet-name>
    <servlet-class>servlet.FindAllNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindOneNewsServlet</servlet-name>
    <servlet-class>servlet.FindOneNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteNewsServlet</servlet-name>
    <servlet-class>servlet.DeleteNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateNewsServlet</servlet-name>
    <servlet-class>servlet.UpdateNewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>servlet.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindAllStudentServlet</servlet-name>
    <servlet-class>servlet.FindAllStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindOneStudentServlet</servlet-name>
    <servlet-class>servlet.FindOneStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RefreshStudentServlet</servlet-name>
    <servlet-class>servlet.RefreshStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchOneStudentServlet</servlet-name>
    <servlet-class>servlet.SearchOneStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>servlet.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchOneCourseServlet</servlet-name>
    <servlet-class>servlet.SearchOneCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchAllFieldServlet</servlet-name>
    <servlet-class>servlet.SearchAllFieldServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchOneTypeFieldServlet</servlet-name>
    <servlet-class>servlet.SearchOneTypeFieldServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InitialComputingServlet</servlet-name>
    <servlet-class>servlet.InitialComputingServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JudgeServlet</servlet-name>
    <servlet-class>servlet.JudgeServlet</servlet-class>
  </servlet>































 
  <servlet-mapping>
    <servlet-name>ComputeServlet</servlet-name>
    <url-pattern>/computeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveSelectedInfoServlet</servlet-name>
    <url-pattern>/saveSelectedInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/changePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowStudentServlet</servlet-name>
    <url-pattern>/showStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindFinalScoreServlet</servlet-name>
    <url-pattern>/findFinalScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllCourseServlet</servlet-name>
    <url-pattern>/findAllCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindOneCourseServlet</servlet-name>
    <url-pattern>/findOneCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCourseServlet</servlet-name>
    <url-pattern>/deleteCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <url-pattern>/updateCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/addCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllNewsServlet</servlet-name>
    <url-pattern>/findAllNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindOneNewsServlet</servlet-name>
    <url-pattern>/findOneNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteNewsServlet</servlet-name>
    <url-pattern>/deleteNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateNewsServlet</servlet-name>
    <url-pattern>/updateNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/deleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllStudentServlet</servlet-name>
    <url-pattern>/findAllStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindOneStudentServlet</servlet-name>
    <url-pattern>/findOneStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RefreshStudentServlet</servlet-name>
    <url-pattern>/refreshStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchOneStudentServlet</servlet-name>
    <url-pattern>/searchOneStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/updateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchOneCourseServlet</servlet-name>
    <url-pattern>/searchOneCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchAllFieldServlet</servlet-name>
    <url-pattern>/searchAllFieldServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchOneTypeFieldServlet</servlet-name>
    <url-pattern>/searchOneTypeFieldServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitialComputingServlet</servlet-name>
    <url-pattern>/initialComputingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JudgeServlet</servlet-name>
    <url-pattern>/judgeServlet</url-pattern>
  </servlet-mapping>


</web-app>